@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-secondary: #3b82f6;
  --color-success: #22c55e;
  --color-warning: #eab308;
  --color-danger: #ef4444;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}
